<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Avaliar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Fazer Avaliação</h2>
  <form action="/efetuaravaliacao" method="POST">
  <div>
    <label for="sel2">Selecione você na lista</label>
    <select multiple class="form-control" id="sel2" name="cliente">
      <% for(var i = 0;i < dados.length; i++){ %>
      <option><%= dados[i] %></option>
      <% } %>
    </select>
    <input type="hidden" class="form-control" value="'<%= dataDaAvaliacao %>'" placeholder="'<%= dataDaAvaliacao %>'" id="data" name="data">
  </div>
    <div class="form-group">
      <label for="number">Nota:</label>
      <input type="number" class="form-control" id="nota" placeholder="Coloque sua nota de 0 a 10" name="nota">
    </div>
    <div class="form-group">
      <label for="text">Motivo da Nota:</label>
      <input type="text" class="form-control" id="motivo" placeholder="Escreva o Motivo da nota" name="motivo">
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>

</body>
</html>