<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro Avaliações</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Cadastrar Avaliação</h2>
  <form action="/cadastro-avaliacao-dois" method="POST">
    <div class="form-group">
      <label for="date">Data da Avaliação</label>
      <input type="month" class="form-control" id="data" name="data">
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>
<% if(alerta == true){ %>
  <script>alert('<%= msg %>');</script>
<% } %>
</body>
</html>