<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro Cliente</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Cadastrar Cliente</h2>
  <form action="#">
    <div class="form-group">
      <label for="text">Nome:</label>
      <input type="text" class="form-control" id="nome" placeholder="Escreva seu nome" name="nome">
    </div>
    <div class="form-group">
      <label for="text">Nome do contato:</label>
      <input type="text" class="form-control" id="nomecontato" placeholder="Escreva o nome do contato" name="nomecontato">
    </div>
    <div class="form-group">
      <label for="date">Data que se tornou cliente</label>
      <input type="date" class="form-control" id="data" name="data">
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>

</body>
</html>