<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .correto{
            background-color: chartreuse;
            width: 30px;
            height: 30px;
            border-radius: 20%;
            box-shadow: 2px 2px 2px 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Resultado</h1>
            <div class="correto">

            </div> 

        </div>
    </div>
</body>
</html>